@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap');

body {
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;

	a {
		text-decoration: none;
		color: grey;
	}
}

.modal-content{
	background-color: #198754;
}

.heading {
	text-align: center;
	margin-bottom: 2rem;
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 100%;
		height: 0.01rem;
		background: grey;
		z-index: -1;
	}
	span {
		z-index: 2;
		text-transform: capitalize;
		font-size: 1.5rem;
		padding: 0.5rem 2rem;
		color: black;
		background: #198754;
		border: 1px solid black;
		border-radius: 20px;
	}
}

.box{
	margin:2rem 0;
	position: relative;
	overflow: hidden;
	text-align: center;
	.image{
		padding:1rem;
		background: linear-gradient(15deg, #eee 30%, #fff 30.1%);

		img{
			max-width: 100%;
			height:17rem;
			object-fit: cover;
			transition: 0.5s;
		}
	}
	.content {
		padding-bottom: 1.5rem;
		h3{
			text-transform: capitalize;
		}
	}
	&:hover{
		border: 1px solid gray;
		border-radius: 20px;
	}
	&:hover {
		img{
			cursor: pointer;
			transform: scale(0.9);
		}
	} 
}
