<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand fw-bold" href="/">
			FM Book
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/profile">Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/about">About</a>
				</li>
			</ul>
			<div class="d-flex">
				<form class="d-flex mx-5">
					<div class="searchbox" onClick="onClick(event)">
						<input type="text" onFocus="onFocus()" onBlur="onBlur()"/>
						<button>
							<i class="fa fa-search" aria-hidden="true"></i>
						</button>
					</div>
				</form>
				<ul class="navbar-nav">
					<li class="nav-item"><a href="/book-cart" class="nav-link">
							<i class="fas fa-shopping-cart fs-4"></i>
						</a>
					</li>
					<li class="nav-item"><a href="/login" class="nav-link">
							<i class="fas fa-user fs-4"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
