.profile-page {
	.user__profile {
		background: url(/img/banner-bg.jpg);
		background-size: cover;
		.avatar-user__profile {
			width: 300px;
			height: 300px;
			margin: 0 auto;
			img{
				padding-top: 3rem;
				max-width: 100%;
				object-fit: cover;
			}
		}

		.info-user__profile {
			.name-user__profile {
				color: $color-shop;
			}
			.fas {
				color: $color-shop;
			}
		}
	}
	.list-book__profile {
		.card {
			position: relative;
			flex: 1 1 100%;
			margin: $grid-gutter 0;
			padding: $card-padding;
			background: lighten($color-bg, 3%);
			&::before,
			&::after {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				transform: scale3d(0, 0, 1);
				transition: transform .3s ease-out 0s;
				background: rgba(255, 255, 255, .1);
				content: '';
				pointer-events: none;
			}

			&::before {
				transform-origin: left top;
			}

			&::after {
				transform-origin: right bottom;
			}

			&:hover,
			&:focus {
				&::before,
				&::after {
					transform: scale3d(1, 1, 1);
				}
			}
			.card__img {
				margin: (-$card-padding) (-$card-padding) 0;

				img {
					max-width: 100%;
					height: auto;
					border: 0;
					vertical-align: middle;
					box-sizing: border-box;
				}
			}
			.card__desc {
				margin-top: $card-padding;
				h4{
					color: $color-shop;
					text-transform: capitalize;
				}
			}
		}
	}
}
