<div class="container mt-2">
	<h1 class="text-center fw-bold">Delete Book</h1>
	<form method="POST" action="/admin-list-books/delete-book/<%= book.id %>">
		<div class="mb-3">
			<label class="form-label">Name Book</label>
			<input type="text" class="form-control" value="<%= book.nameBook %>" name="nameBook" />
		</div>
		<button type="submit" class="btn btn-danger">Delete</button>
	</form>
</div>
