<div class="container-fluid" style="margin-top: 100px;"> <div class="card">
		<div class="card-header">
			<div class="row">
				<div class="col-8">
					<h4 class="text-center" style="font-weight: bold;">All User</h4>
				</div>
			</div>
		</div>
		<div class="card-body">
			<table class="table table-bordered table-hover table-dark table-striped">
				<thead class="table-dark text-center text-success text-uppercase">
					<tr>
						<th scope="col">Name user</th>
						<th scope="col">Phone</th>
						<th scope="col">Address</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Trong Son</td>
						<td>1234567890</td>
						<td>Binh Dinh</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>


