<div class="profile-page container mt-3 mb-5">
	<div class="user__profile ">
		<div class="row align-items-center">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div class="avatar-user__profile">
					<img src="https://cdn.pixabay.com/photo/2014/04/13/20/49/cat-323262_960_720.jpg"/>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div class="info-user__profile">
					<h1 class="name-user__profile fw-bold">Trong Son</h1>
					<div>
						<p class="phone-user__profile"><i class="fas fa-phone-alt mx-3"></i>12345679</p>
						<p class="address-user__profile"><i class="fas fa-map-marker-alt mx-3"></i>Binh Dinh Province</p>
						<div class="list-star__profile-user d-flex mx-3">
							<i class="fas fa-star fs-5"></i>
							<i class="fas fa-star fs-5"></i>
							<i class="fas fa-star fs-5"></i>
							<i class="fas fa-star fs-5"></i>
							<i class="fas fa-star-half-alt fs-5"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="user-book__profile mt-4">
		<h2 class="heading">
			<span>MY BOOKSTORE</span>
		</h2>
		<div class="list-book__profile">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
					<div class="card">
						<figure class="card__img">
							<img src="https://res.cloudinary.com/jasonheecs/image/upload/v1479748268/card-hover/photo-3.jpg" width="340" height="280" />
						</figure>
						<div class="card__desc text-center">
							<h4>book title</h4>
							<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
							</p>
							<button class="btn btn-success"><a href="/book-detail" class="text-light">Read book</a></button>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
					<div class="card">
						<figure class="card__img">
							<img src="https://res.cloudinary.com/jasonheecs/image/upload/v1479748268/card-hover/photo-3.jpg" width="340" height="280" />
						</figure>
						<div class="card__desc text-center">
							<h4>book title</h4>
							<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
							</p>
							<button class="btn btn-success"><a href="/book-detail" class="text-light">Read book</a></button>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
					<div class="card">
						<figure class="card__img">
							<img src="https://res.cloudinary.com/jasonheecs/image/upload/v1479748268/card-hover/photo-3.jpg" width="340" height="280" />
						</figure>
						<div class="card__desc text-center">
							<h4>book title</h4>
							<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
							</p>
							<button class="btn btn-success"><a href="/book-detail" class="text-light">Read book</a></button>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
					<div class="card">
						<figure class="card__img">
							<img src="https://res.cloudinary.com/jasonheecs/image/upload/v1479748268/card-hover/photo-3.jpg" width="340" height="280" />
						</figure>
						<div class="card__desc text-center">
							<h4>book title</h4>
							<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
							</p>
							<button class="btn btn-success"><a href="/book-detail" class="text-light">Read book</a></button>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
					<div class="card">
						<figure class="card__img">
							<img src="https://res.cloudinary.com/jasonheecs/image/upload/v1479748268/card-hover/photo-3.jpg" width="340" height="280" />
						</figure>
						<div class="card__desc text-center">
							<h4>book title</h4>
							<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
							</p>
							<button class="btn btn-success"><a href="/book-detail" class="text-light">Read book</a></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
