<div class="login-register mt-4">
	<div class="m-auto">
		<h2 id="sign__up"> sign up </h2>
	</div>

	<!-- ============= -->
	<!-- 	SIGN UP -->
	<form class="form-group" id="form-sign-up" method="POST" action="/register">
		<label for="email">Email</label>
		<input type="text" class="text" name="email" placeholder="Enter the email">
		<label for="username">User Name</label>
		<input type="text" class="text" name="fullName" placeholder="Enter the user name">
		<label for="phone">Number phone</label>
		<input type="text" class="text" name="numberPhone" placeholder="Enter the number phone">
		<label for="address">Address</label>
		<input type="text" class="text" name="address" placeholder="Enter the address">
		<label for="password">Password</label>
		<input type="password" class="text" name="password" placeholder="Enter the password">
		<button class="signin">
			Sign up
		</button>
	</form>
</div>
